@use '@styles/global/index.scss';

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: auto;
	padding: 24px 0px;
	z-index: 1000;
	width: 100%;
	background: transparent;
	backdrop-filter: none;
	transition: (background-color) 0.3s ease 0s;
	user-select: none;

	&.postScroll {
		background: var(--bg-header);
		backdrop-filter: blur(12px);
	}
}

.header__container {
	top: 0px;
	left: 0px;
	display: flex;
	position: relative;
	height: 38px;
	z-index: 1100;
	justify-content: space-between;
	align-items: center;
	margin: 0px 15px;
	transition: background-color 0.3s ease 0s;
	// max-width: 97.5%;

	@media screen and (min-width: 1024px) {
		margin: 0px auto;
		height: 40px;
		max-width: 944px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 1032px;
	}

	@media screen and (min-width: 1440px) {
		max-width: 1192px;
	}

	@media screen and (min-width: 1920px) {
		max-width: 1312px;
		height: 48px;
	}
}

.header__left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__logoWrapper {
	cursor: pointer;

	& > img {
		pointer-events: none;
		width: 114px;
		height: 38px;

		@media screen and (min-width: 1920px) {
			width: 132px;
			height: 44px;
		}
	}
}

.header__langSelectorWrapper {
	position: relative;
	display: none;
	align-items: center;
	cursor: pointer;
	margin-left: 26px;
	margin-top: 5px;

	&.enabled {
		display: flex;
	}

	@media screen and (min-width: 1024px) {
		display: flex;
	}

	@media screen and (min-width: 1920px) {
		margin-left: 17px;
	}
}

.langSelector__text {
	@extend %font__langSelector;
	text-transform: uppercase;
	pointer-events: none;

	@media screen and (min-width: 1920px) {
		font-size: 18px;
		line-height: 26.65px;
	}
}

.langSelector__arrow {
	margin-left: 4px;
	transform: rotate(0deg);
	transition: transform 0.3s ease 0s;
	pointer-events: none;

	&.selected {
		transform: rotate(-180deg);
	}
}

.langSelector__popup {
	display: none;
	position: absolute;
	top: 36px;
	left: -6px;
	padding: 50px 0px;
	margin: 0 auto;
	background-color: #f3f4f5;
	border-radius: 8px;
	box-shadow: rgba(33, 33, 33, 0.1) 4px 4px 16.4664px 0px;

	& > hr {
		margin: 2px 10px;
		background-color: #212121;
		opacity: 0.1;
		height: 1px;
		border: none;
	}

	& > li {
		width: 48px;
		padding: 6px 12px;
		transition: background-color 0.3s ease 0s;
		cursor: pointer;

		&:first-child {
			padding-top: 12px;
			border-radius: 8px 8px 0px 0px;
		}

		&:last-child {
			padding-bottom: 12px;
			border-radius: 0px 0px 8px 8px;
		}

		&:hover {
			background-color: var(--btn-secondary-alternative);
		}

		& > img {
			pointer-events: none;
		}
	}

	&.enabled {
		display: block;
	}
}

.header__center {
	padding-right: 40px;
	height: 15px;
	display: none;
	justify-content: center;

	@media screen and (min-width: 1024px) {
		display: flex;
	}

	@media screen and (min-width: 1280px) {
		height: 20px;
	}
}

.header__right {
	display: block;
}

.header__button {
	@extend .button_white;
	transition: (font, background-color) 0.3s ease 0s;
	display: none;

	&.postScroll {
		color: var(--text-white);
		background-color: var(--btn-primary);

		&:hover {
			background-color: var(--btn-primary-alternative);
		}

		&:active {
			background-color: var(--btn-primary-alternative);
		}
	}

	@media screen and (min-width: 1024px) {
		display: block;
	}
}

.header__modalButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 20px;
	width: 24px;
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;

	& > span {
		display: block;
		height: 3px;
		width: 24px;
		border-radius: 1.5px;
		background: var(--text-secondary);

		transition: transform 0.3s ease 0s;
	}

	&.activated > span {
		&:first-child {
			transform: rotate(45deg) translate(6px, 6px);
		}

		&:nth-child(2) {
			transform: rotateY(90deg);
		}

		&:last-child {
			transform: rotate(-45deg) translate(6px, -6px);
		}
	}

	@media screen and (min-width: 1024px) {
		display: none;
	}
}

.header__tab {
	@extend %font__button_headerTabs;
	transition: color 0.3s ease 0s;
	cursor: pointer;

	&:hover {
		color: var(--text-primary);
	}

	&.selected {
		color: var(--text-primary);
	}

	@media screen and (min-width: 1920px) {
		font-size: 18px;
		line-height: normal;
	}
}

.header__tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	& > li {
		@extend .header__tab;
		display: block;
		margin: 0 auto;
		padding: 0;
		margin-right: 72px;

		&:last-child {
			margin-right: 0px;
		}

		@media screen and (min-width: 1920px) {
			&:first-child {
				margin-left: 14px;
			}
		}
	}
}

.header__mobileModal {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 1050; // Between header and header-container
	background-color: #ffffff;
	top: 0;
	left: 0;

	&.enabled {
		display: block;
	}

	@media screen and (min-width: 1024px) {
		display: none;

		&.enabled {
			display: none;
		}
	}
}

.mobileModal__container {
	position: relative;
	z-index: 1075;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.mobileModal__tabs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	& > li {
		@extend %font__button_modalTabs;
		@extend .header__tab;
		margin: 24px auto;
		font-size: 18px;
		line-height: normal;

		&:first-child {
			margin-top: 0px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		&.selected {
			@extend %font__button_modalTabs;
			@extend .header__tab, .selected;
			font-size: 18px;
			line-height: normal;
		}

		@media screen and (min-width: 768px) {
			font-size: 20px;
			line-height: 26.646px;

			&.selected {
				font-size: 20px;
				line-height: 26.646px;
			}
		}
	}
}

.mobileModal__blankSpace {
	display: block;
	height: 0px;
	width: 0px;

	&_bottom {
		display: block;
		height: 0px;
		width: 0px;

		@media screen and (min-width: 768px) {
			display: none;
		}
	}
}

.mobileModal__bottom {
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 12px;

	@media screen and (min-width: 768px) {
		display: flex;
	}
}

.mobileModal__button {
	@extend .button_red;
}

.mobileModal__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 354px;
	margin-top: 34px;
}

.links__smallLinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80px;

	& > img {
		height: 32px;
		width: 20px;
	}
}

.links__bigLinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 242px;

	& > img {
		height: 32px;
		width: 20px;
	}
}

.mobileModal__background {
	position: relative;
	z-index: 1060;

	& > * {
		position: absolute;
	}

	& > .square_top {
		top: -29px;
		right: -131px;
		width: 256.084px;
		height: 256.084px;
		transform: rotate(-45deg);
		border-radius: 44.887px;
		background: var(--radial-grey-15per);
	}

	& > .square_bottom {
		left: -100px;
		top: calc(100vh - 27px - 238.754px);
		width: 238.754px;
		height: 238.754px;
		transform: rotate(-45deg);
		border-radius: 22.224px;
		background: var(--radial-grey-15per);
	}

	& > .dots_left {
		display: none;
	}

	& > .dots_right {
		top: calc(100vh - 30px - 187.288px);
		right: -90px;
		width: 247.491px;
		height: 187.288px;
	}

	@media screen and (min-width: 768px) {
		& > .square_top {
			top: -128px;
			right: -332px;
			width: 537.109px;
			height: 537.109px;
			border-radius: 94.145px;
			background: var(--radial-grey-15per);
		}

		& > .square_bottom {
			left: -212px;
			top: calc(100vh - 39px - 456.268px);
			width: 456.268px;
			height: 456.268px;
			border-radius: 42.471px;
			background: var(--radial-grey-15per);
		}

		& > .dots_left {
			display: block;
			left: -61px;
			top: calc(100vh - 36px - 237.84px);
			width: 313.228px;
			height: 237.034px;
		}

		& > .dots_right {
			top: calc(100vh - 97px - 288.371px);
			right: -105px;
			width: 381.065px;
			height: 288.371px;
		}
	}
}
