@import '@styles/global/';
@import '@styles/components/header.scss';

main {
	padding-top: 86px;
	height: 2000px;
	position: relative;
	z-index: 1;
	overflow: hidden;

	@media screen and (min-width: 1024px) {
		padding-top: 88px;
	}

	@media screen and (min-width: 1920px) {
		padding-top: 96px;
	}
}

section {
	margin-left: 15px;
	margin-right: 15px;

	@media screen and (min-width: 1024px) {
		margin-left: auto;
		margin-right: auto;
		max-width: 944px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 1032px;
	}

	@media screen and (min-width: 1440px) {
		max-width: 1192px;
	}

	@media screen and (min-width: 1920px) {
		max-width: 1312px;
	}
}

.body__sectionOne {
	margin-top: 52px;

	@media screen and (min-width: 768px) {
		margin-top: 38px;
	}

	@media screen and (min-width: 1024px) {
		margin-top: 166px;
	}

	@media screen and (min-width: 1280px) {
		margin-top: 160px;
	}
}

.sectionOne__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 333px;
	height: 262px;
	margin: 0 auto;

	& > h1 {
		width: 290px;
		margin-right: 8px;

		& > .text_red {
			color: var(--text-primary);
			font-weight: 700;
			margin-left: 7px;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			background-image: url(/images/sectionOne_starsHigh.png);
			width: 86.71px;
			height: 79.82px;
			margin-left: -33px;
			margin-top: -50px;
			transform: rotate(28deg) scale(0.8);
		}
	}

	& > p {
		width: 333px;
	}

	@media screen and (min-width: 768px) {
		width: 477px;
		height: 254px;

		& > h1 {
			margin-right: 0px;
			width: 333px;

			& > .text_red {
				margin: auto;
			}

			&::before {
				background-image: url(/images/sectionOne_starsHigh.png);
				width: 86.71px;
				height: 79.82px;
				margin-left: -33px;
				margin-top: -48px;
				transform: rotate(25.25deg);
			}
		}

		& > P {
			width: 477px;
		}
	}

	@media screen and (min-width: 1024px) {
		text-align: left;
		align-items: flex-start;
		width: 373px;
		height: 297px;
		margin-left: 0px;

		& > h1 {
			width: auto;
			&::before {
				background-image: url(/images/sectionOne_starsThin.png);
				width: 75px;
				height: 30px;
				margin-top: -27px;
				margin-left: -15px;
				transform: none;
			}
		}

		& > p {
			width: 334px;
		}
	}

	@media screen and (min-width: 1280px) {
		width: 427px;
		height: 303px;

		& > h1::before {
			background-image: url(/images/sectionOne_starsHigh.png);
			width: 86.71px;
			height: 79.82px;
			margin-left: -48px;
			margin-top: -37px;
		}

		& > p {
			width: 369px;
		}
	}

	@media screen and (min-width: 1920px) {
		width: 478px;
		height: 332px;

		& > p {
			width: 415px;
		}
	}
}

.sectionOne__buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 76px;
	margin-top: 12px;

	& > button {
		@extend .button_red;
	}

	@media screen and (min-width: 1920px) {
		height: 87px;
	}
}

.button__footnoteContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	& > span {
		@extend %font__underButton;
		display: block;

		margin-left: 0px;

		@media screen and (min-width: 1920px) {
			font-size: 16px;
			line-height: 19px;
		}
	}

	& > img {
		display: block;
		margin-left: 8px;
	}
}

.sectionOne__background {
	z-index: -10;
	position: relative;
	pointer-events: none;

	& > * {
		position: absolute;
		z-index: -9;
		background: var(--radial-grey-15per);
	}

	& > .square_top {
		width: 248.41px;
		height: 248.41px;
		border-radius: 44px;
		top: 0;
		left: 50%;

		transform: rotate(45deg) translate(-304px, -431px);
	}

	& > .square_left {
		width: 300.2px;
		height: 300.2px;
		border-radius: 28px;
		top: 0;
		left: 50%;

		transform: rotate(45deg) translate(-378px, 99px);

		& > .dots {
			width: 234px;
			height: 177.08px;

			transform: rotate(-45deg) translate(20px, 180px);
		}
	}

	& > .square_red {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -5;
		width: 669.72px;
		height: 658.57px;
		border-radius: 88px;
		background-color: var(--diamond-visual-60per);
		top: 0px;
		right: 50%;

		transform: rotate(45deg) translate(139px, -53px);

		& > .inner {
			width: 615.02px;
			height: 615.02px;
			border-radius: 88px;
			background-color: var(--diamond-visual);

			& > .dots_top {
				width: 162.87px;
				height: 123.25px;

				transform: rotate(-45deg) translate(65px, 10px);
			}

			& > .dots_middle {
				width: 277.53px;
				height: 210.02px;

				transform: rotate(-45deg) translate(310px, 135px);
			}

			& > .screens {
				max-width: none;
				max-height: none;
				object-fit: contain;
				image-rendering: optimizeQuality;
				content: url(/images/sectionOne_screens_375.png);
				width: 613.16px;
				height: 417px;

				transform: rotate(-45deg) translate(488px, -310px);
			}

			& > .screens_phone {
				max-width: none;
				max-height: none;
				object-fit: contain;
				image-rendering: optimizeQuality;

				display: none;
			}

			& > .screens_desktop {
				max-width: none;
				max-height: none;
				object-fit: contain;
				image-rendering: optimizeQuality;

				display: none;
			}
		}
	}

	& > .dots {
		background: none;
		width: 234px;
		height: 177.08px;
		top: 0;
		left: 50%;
	}

	@media screen and (min-width: 768px) {
		& > .square_top {
			width: 327.73px;
			height: 327.73px;
			border-radius: 57px;

			transform: rotate(45deg) translate(-226px, -526px);
		}

		& > .square_left {
			width: 385.5px;
			height: 385.5px;
			border-radius: 36px;

			transform: rotate(45deg) translate(-489px, 227px);

			& > .dots {
				width: 234px;
				height: 177.08px;

				transform: rotate(-45deg) translate(-72px, 212px);
			}
		}

		& > .square_red {
			width: 999px;
			height: 999px;
			border-radius: 105px;

			transform: rotate(45deg) translate(141px, -24px);

			& > .inner {
				width: 921.24px;
				height: 921.24px;
				border-radius: 106px;

				& > .dots_top {
					width: 245px;
					height: 181.5px;

					transform: rotate(-45deg) translate(123px, 40px);
				}

				& > .dots_middle {
					width: 408.7px;
					height: 309.28px;

					transform: rotate(-45deg) translate(482px, 215px);
				}

				& > .screens {
					content: url(/images/sectionOne_screens_768.png);
					width: 1052.39px;
					height: 723px;
					transform: rotate(-45deg) translate(783px, -571px);
				}
			}
		}
	}

	@media screen and (min-width: 1024px) {
		& > .square_top {
			width: 256.75px;
			height: 256.75px;
			border-radius: 45px;

			left: auto;
			right: 50%;

			transform: rotate(45deg) translate(-547px, -462px);
		}

		& > .square_left {
			width: 343.78px;
			height: 343.78px;
			border-radius: 32px;

			transform: rotate(45deg) translate(-511.5px, 311px);

			& > .dots {
				width: 162.75px;
				height: 123.16px;

				transform: rotate(-45deg) translate(-78px, 201px);
			}
		}

		& > .square_red {
			width: 1031.82px;
			height: 1049.93px;
			border-radius: 136px;

			left: 50%;
			right: auto;

			transform: rotate(45deg) translate(-408.5px, -476.5px);

			& > .inner {
				width: 964.17px;
				height: 964.17px;
				border-radius: 125px;

				transform: translate(-1px, 10px);

				& > .dots_top {
					width: 192.93px;
					height: 146px;

					transform: rotate(-45deg) translate(-488px, 461px);
				}

				& > .dots_middle {
					width: 328.75px;
					height: 248.78px;

					transform: rotate(-45deg) translate(27px, 605px);
				}

				& > .screens {
					display: none;
				}

				& > .screens_phone {
					display: inline-block;
					width: 240.2px;
					height: 394.9px;
					transform: rotate(-45deg) translate(-195px, 282px) scale(1.05);
				}

				& > .screens_desktop {
					display: inline-block;
					width: 836.6px;
					height: 620px;

					transform: rotate(-45deg) translate(409px, -470px) scale(1.03);
				}
			}
		}
	}

	@media screen and (min-width: 1280px) {
		& > .square_top {
			transform: rotate(45deg) translate(-561.5px, -447.5px);
		}

		& > .square_left {
			transform: rotate(45deg) translate(-631.5px, 431px);

			& > .dots {
				transform: rotate(-45deg) translate(-78px, 201px);
			}
		}

		& > .square_red {
			transform: rotate(45deg) translate(-385px, -501px);

			& > .inner {
				transform: translate(0px, 10px);

				& > .dots_top {
					transform: rotate(-45deg) translate(-479px, 462px);
				}

				& > .dots_middle {
					transform: rotate(-45deg) translate(36px, 604px);
				}

				& > .screens_phone {
					transform: rotate(-45deg) translate(-196px, 281px) scale(1.05);
				}

				& > .screens_desktop {
					transform: rotate(-45deg) translate(408px, -471px) scale(1.03);
				}
			}
		}
	}

	@media screen and (min-width: 1920px) {
		& > .square_top {
			transform: rotate(45deg) translate(-587px, -474px);
		}

		& > .square_left {
			transform: rotate(45deg) translate(-656.5px, 404px);
		}

		& > .square_red {
			width: 1049.93px;
			height: 1031.82px;

			transform: rotate(45deg) translate(-401px, -505.5px);

			& > .inner {
				transform: translate(-10px, 0px);
			}
		}
	}
}

.body__sectionTwo {
	margin-top: 550px;
	transform: translate(-7px, 0px);

	@media screen and (min-width: 768px) {
		margin-top: 484px;
		transform: none;
	}

	@media screen and (min-width: 1024px) {
		margin-top: 435px;
	}

	@media screen and (min-width: 1440px) {
		margin-top: 446px;
	}

	@media screen and (min-width: 1440px) {
		margin-top: 414px;
	}
}

.sectionTwo__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	width: 340px;
	height: 200px;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		width: 429px;
		height: 208px;

		& > h1 {
			margin-left: -14px;
		}
	}

	@media screen and (min-width: 1024px) {
		align-items: flex-start;
		text-align: left;

		width: 356px;
		height: 245px;
		margin-right: 0px;

		& > h1 {
			margin: auto;
			margin-left: 0px;
			font-size: 32px;
			line-height: 37.5px;
		}

		& > p {
			line-height: 23px;
		}
	}

	@media screen and (min-width: 1280px) {
		width: 398px;
		height: 228px;

		& > h1 {
			font-size: 36px;
			line-height: 44.1px;
		}

		& > p {
			font-size: 16px;
			margin-top: 3px;
		}
	}

	@media screen and (min-width: 1440px) {
		width: 478px;
		height: 216px;

		& > p {
			margin-top: 12px;
		}
	}

	@media screen and (min-width: 1920px) {
		width: 574px;
		height: 235px;

		& > h1 {
			font-size: 44px;
			line-height: 53.9px;
		}

		& > p {
			margin-top: 20px;
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.sectionTwo__buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;

	& > button {
		@extend .button_white;
		width: 188px;
		height: 48px;
		border-radius: 16px;

		& > .textContainer {
			display: flex;
			align-items: center;
			justify-content: center;

			& > img {
				width: 10px;
				height: 12px;
				margin-right: 8px;
				margin-bottom: 4px;
			}

			& > span {
				margin-right: 2px;
				margin-bottom: 3px;
			}
		}
	}

	@media screen and (min-width: 1024px) {
		margin-top: 33px;
	}

	@media screen and (min-width: 1920px) {
		& > button {
			width: 220px;
			height: 56px;
			border-radius: 18px;

			font-size: 18px;
			line-height: 22.28px;

			& > .textContainer > img {
				width: 12px;
				height: 14px;
			}
		}
	}
}
