@import '@styles/nullify.scss';
@import '@styles/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family */
}

html {
    scroll-behavior: smooth;
}

.stylishtext {
    color: var(--text-primary);
    &:hover {
        background-color: var(--text-secondary)
    }
}